@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> Aprenda mais em <a href="https://www.airbnb.com.br/"> construindo ambientes colaborativos</a>.</p>
</div>
